## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 700].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_app_df = pd.get_dummies(application_df)
numeric_app_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [9]:
# Split our preprocessed data into our features and target arrays
X = numeric_app_df.drop(["IS_SUCCESSFUL"],axis=1)
y = numeric_app_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=len(X_train_scaled[0]), activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5710 - accuracy: 0.7194
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7291
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7319
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7323
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7337
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7339
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7350
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7357
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7357
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7358
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7364
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7363
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7380
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7375
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7373
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7373
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7385
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7380
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7377
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7381
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7394
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7385
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7376
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7389
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7386
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7396
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7391
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7396
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7386
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7397
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7387
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7394
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7395
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7393
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7397
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7384
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7402
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7402
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7393
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7404
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7404
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7402
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7403
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7404
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7408
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7408
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7399
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7416
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7410
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7407
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7410
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7407
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7407
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7408
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7416
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7409
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7405
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7405
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7410
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7417
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7413
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7408
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7410
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7410
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7413
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7411
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7411

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5552 - accuracy: 0.7252 - 728ms/epoch - 3ms/step
Loss: 0.555240273475647, Accuracy: 0.7252478003501892

In [15]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity1.h5')